body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Naviagation bar */

nav.nav-bar {
    border-bottom: 1px solid seashell;
    height: 69px;
}

div.links {
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: space-between;
    align-items: center;
    color: seashell;
    float: right;
    margin-right: 10px;
}

.link-item {
    text-decoration: underline;   
}

#menu {
    display: flex;
    height: 100%;
    align-items: center;
    color: seashell;
    justify-content: flex-end;
    float: right;
    font-size: 3rem;
    background-color: black;
    border: hidden;
    display: none;
}

div.title {
    font-size: 50px;
    display: flex;
    height: 100%;
    align-items: center;
    float: left;
    margin-left: 10px;
}

#links-mobile {
    display: flex;
    flex-flow: column;
    width: 100%;
    background: #333333;
    display: none;
}

.link-item-mobile {
    padding: 14px 16px;
}

.link-item-mobile:hover, #menu:hover {
    background-color: #dddddd;
    color: black;
}

/* Banner */

.banner {
    margin: auto;
    height: 700px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-items {
    width: 100%;
    background-color: black;
}

/* Body */

.shop {
    margin: auto;
    margin: 50px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.shop-items {
    font-size: 2rem;
}

figcaption {
    font-weight: bold;
}

.shop-items-pictures {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop-items-pictures img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

/* Locations */

.locations {
    display: block;
    margin: auto;
    width: 70%;
    height: 500px;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.locations h1 {
    padding-top: 90px;
}

.addresses {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.address {
    margin-top: 15px;
    margin: 40px;
    width: 300px;
    background-color: black;
}

/* Navigation bar media queries */

@media screen and (max-width: 1650px) {
    div.links {
        display: none;
    }

    #menu, #links-mobile {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    div.title {
        font-size: 40px;
    }
}

@media screen and (max-width: 450px) {
    div.title {
        font-size: 30px;
    }
}

/* Banner media queries */

@media screen and (orientation: portrait) {
    .banner {
        background-image: none;
        align-items: flex-start;
        height: auto;
    }
}

/* Locations media queries */

@media screen and (max-width: 1663px) {
    .locations {
        height: 100%;
        width: 100%;
    }
}
